.header-container {
  background-color: #272727;
  color: #fff;
  position: fixed;
  width: 100%;
  z-index: 5;
}
.title-container {
  flex: 1;
}
.title {
  margin-left: 20px;
}
.img-header {
  height: 18px;
  filter: brightness(0) invert(1);
}
.logOut-container {
  cursor: pointer;
}
.logOut-container:hover {
  color: red;
  transition: 0.5s;
}
